.status {
    top: 10px;
    right: 10px;
    background-color: #D1D5DB;
    color: #ffffff;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    font-weight: bold;
    font-size: 0.75rem;
    z-index: 1; /* Atur z-index untuk menampilkan di atas gambar */
}

.waiting-approval {
    background-color: #cacaca; /* Warna untuk status menunggu persetujuan */
}

.approved {
    background-color: #00d885; /* Warna untuk status disetujui */
}

.canceled{
    background-color: #e72424;
}

/* Custom Card Styling */
.custom-card {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Custom Car Image Styling */
.car-img-wrapper {
    text-align: center;
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 0; /* Set tinggi wrapper menjadi 0 */
    padding-top: 56.25%; /* Atur rasio aspek 16:9 untuk gambar */
}

.car-img-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; /* Pusatkan gambar secara horizontal dan vertikal */
    width: 100%; /* Agar gambar mengisi lebar wrapper */
    height: 100%; /* Agar gambar mengisi tinggi wrapper */
    object-fit: cover; /* Hindari distorsi gambar dan pastikan gambar memenuhi wrapper */
}


@media (max-width: 768px) {
    .status {
        position: relative; 
        top: auto; 
        right: auto; 
        font-size: 0.5rem;
    }
}