.status {
    position: absolute; /* Menggunakan posisi absolut agar status selalu berada di pojok kanan atas gambar */
    top: 5px; /* Jarak dari bagian atas gambar */
    right: 5px; /* Jarak dari sisi kanan gambar */
    background-color: #D1D5DB;
    color: #ffffff;
    border-radius: 0.25rem; /* Mengurangi border radius */
    padding: 0.15rem 0.3rem; /* Mengurangi padding */
    font-weight: bold;
    font-size: 0.65rem; /* Mengurangi ukuran font */
    z-index: 1;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 3px rgba(0, 0, 255, 0); /* Mengurangi shadow */
}

.car {
    position: absolute; /* Menggunakan posisi absolut agar status selalu berada di pojok kanan atas gambar */
    top: 5px; /* Jarak dari bagian atas gambar */
    left: 5px; /* Jarak dari sisi kanan gambar */
    background-color: #D1D5DB;
    color: #ffffff;
    border-radius: 0.25rem; /* Mengurangi border radius */
    padding: 0.15rem 0.3rem; /* Mengurangi padding */
    font-weight: bold;
    font-size: 0.65rem; /* Mengurangi ukuran font */
    z-index: 1;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 3px rgba(0, 0, 255, 0); /* Mengurangi shadow */
}

.card-img-wrapper {
    position: relative; /* Menjadikan parent untuk posisi absolut */
}

.card-img-wrapper .status {
    position: absolute; /* Menggunakan posisi absolut agar status selalu berada di pojok kanan atas gambar */
    top: 5px; /* Jarak dari bagian atas gambar */
    right: 5px; /* Jarak dari sisi kanan gambar */
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Pastikan card memiliki tinggi 100% */
    position: relative; /* Menggunakan posisi relatif agar footer dan status bisa menggunakan posisi absolut */
    
}

.card-footer {
    position: absolute; /* Menggunakan posisi absolut agar footer selalu berada di bagian bawah card */
    bottom: 0; /* Footer akan menempel di bagian bawah card */
    left: 0; /* Footer akan menempel di bagian kiri card */
    width: 100%; /* Footer akan mengikuti lebar card */
    margin-top: auto; /* Footer menarik ke bawah sehingga selalu berada di bagian bawah card */
}

.card-status {
    position: absolute; /* Menggunakan posisi absolut agar status selalu berada di bagian atas card */
    top: 10px; /* Jarak dari bagian atas card */
    right: 10px; /* Jarak dari sisi kanan card */
}
.car-status {
    position: absolute;
    top: 10px; /* Sesuaikan jaraknya dari bagian atas card */
    left: 10px; 
}

.sold {
    background-color: #e72424; 
}

.ready{
    background-color: #00d885; 
}

.status:hover {
    box-shadow: 0 0 5px #4f95ff;
}

/* Sisanya tetap seperti yang Anda berikan */


.waiting-approval {
    background-color: #ffc400; 
}

.notsold {
    background-color: #ffc400; 
}

.approved {
    background-color: #00d885; 
}

.canceled{
    background-color: #e72424;
}

.custom-card {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-bottom: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.car-img-wrapper {
    text-align: center;
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 0; 
    padding-top: 56.25%; 
}

.car-img-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.name {
    transition: color 0.3s ease; 
}

.name:hover {
    color: #448fff; 
    cursor: pointer;
}
.selected-date a {
    background-color: #ffff00; /* Warna latar kuning untuk tanggal yang dipilih */
}

/* CSS untuk menandai hari saat ini */
.current-day a {
    background-color: #ffcccc; /* Warna latar merah muda untuk hari saat ini */
}

.mfp-bg, .mfp-wrap {
    z-index: 9999 !important; /* sesuaikan sesuai kebutuhan */
}