.status {
    top: 10px;
    right: 10px;
    background-color: #D1D5DB;
    color: #ffffff;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    font-weight: bold;
    font-size: 0.75rem;
    z-index: 1;
    transition: box-shadow 0.3s ease; 
    box-shadow: 0 0 5px rgba(0, 0, 255, 0); 
}

.status:hover {
    box-shadow: 0 0 5px #4f95ff; 
}

.waiting-approval {
    background-color: #cacaca; 
}

.approved {
    background-color: #00d885; 
}

.canceled{
    background-color: #e72424;
}

.custom-card {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.car-img-wrapper {
    text-align: center;
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 0; 
    padding-top: 56.25%; 
}

.car-img-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.car-name {
    transition: color 0.3s ease; 
}

.car-name:hover {
    color: #448fff; 
    cursor: pointer;
}

@media (max-width: 768px) {
    .status {
        position: relative; 
        top: auto; 
        right: auto; 
        font-size: 0.5rem;
    }
}